@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  min-height: 100vh;
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: white;
  background-color: hsl(225, 18%, 4%);
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  font-weight: 500;
  color: hsl(237, 100%, 70%);
  text-decoration: inherit;
}

a:hover {
  color: hsl(237, 86%, 64%);
}

#root {
  max-width: 1350px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game_cards-board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 225px);
  grid-template-rows: 1fr;
  gap: 35px;
}
